* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $base-font, $fallback-fonts;
  font-size: 16px;
  line-height: 1.4;
  background-color: $background-color;
  color: $text;
}

a {
  color: inherit;
}
