$base-font: 'probapro';
$fallback-fonts: 'Arial', 'sans-serif';
$background-color: hsl(0, 0%, 89%);
$light-background-color: #e2e0e0;
$light-color: #ffffff;
$accent-color: #fbdd37;
$light-accent-color: #f7efc2;
$text: #373d43;
$text-divider: #797f85;
$text-muted: #889099;
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1140px
);
