$base-font: 'probapro';
$fallback-fonts: 'Arial', 'sans-serif';
$background-color: hsl(0, 0%, 89%);
$light-background-color: #e2e0e0;
$light-color: #ffffff;
$accent-color: #fbdd37;
$light-accent-color: #f8eeb6;
$dark-color: #000;
$red-color: #c70039;
$text: #373d43;
$text-divider: #797f85;
$text-muted: #889099;
$light-blue: #edf1f7;
$dark-grey: #373d43;
$footer-link-color: #c4cbd2;
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1140px
);
